-#  This file is app/views/movies/index.html.haml
%h1 All Movies


<!-- "#{@all_ratings}" -->
<!-- "#{params[:sortedby]}" -->
<!-- "R2 #{@remR2}" -->
<!-- "R2_G #{@remR2["G"]}" -->
<!-- "R1 #{@remR1}" -->

= form_tag movies_path, :method => :get do 
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]" , 'yes', @remR2[rating] , :id => "ratings_#{rating}"
    = submit_tag 'Refresh', :id => "ratings_submit"


%table#movies
  %thead
    %tr 
      %th{ :class => ("title" == params[:sortedby]) ? 'hilite' : "" }= link_to "Movie Title", { :controller => "movies" , :action => "index",  :query => "title", :remR1 => @remR1 }, :id => "title_header"
      %th Rating
      %th{ :class => ("date" == params[:sortedby]) ? 'hilite' : ""}= link_to "Release Date", { :controller => "movies" , :action => "index",  :query => "date" , :remR1 => @remR1} , :id => "release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path



